{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer" class="py-3 bg-dark text-light">
{{#footerblock}}
<div id="footer">
    <div class="footer-main">
    <div class="container">
    <div id="course-footer">{{{ output.course_footer }}}</div>
        <div class="row">

        <div class="col-md-5">
            <div class="infoarea">
            {{#footlogo}}
            <div class="footer-logo">
                <a href="#"><img src="{{logourl}}" width="100" height="100" alt="Academi"></a>
            </div>
            {{/footlogo}}
                {{{footnote}}}
          </div>
        </div>

        <div class="col-md-3">
            <div class="foot-links">
            {{# infolink}}
            <h2>Liên kết</h2>
            <!-- <h2>{{s_info}}</h2> -->
             <ul>
                {{{infolink}}}
             </ul>
             {{/ infolink}}

            <ul style="display:none;">
              <li><a href="<?php echo new moodle_url('/'); ?>"><?php echo get_string('home','theme_academi');?></a></li>
              <li><a href="https://moodle.org/forums/" target="_blank"><?php echo get_string('moodle_community','theme_academi');?>Moodle community</a></li>
              <li><a href="https://docs.moodle.org" target="_blank"><?php echo get_string('moodle_docs','theme_academi');?>Moodle Docs</a></li>
              <li><a href="https://moodle.org/course/" target="_blank"><?php echo get_string('moodle_support','theme_academi');?>Moodle support</a></li>
            </ul>
          </div>
        </div>
        {{#block3}}
        <div class="col-md-4">
          <div class="contact-info">
            <h2 class="nopadding">Liên hệ</h2>
            <!-- <h2 class="nopadding">{{s_contact_us}}</h2> -->

             <p>{{# address}}{{address}}{{/ address}}<br>
            {{# phoneno}}
              <i class="fa fa-phone-square"></i> {{phone}} : {{phoneno}}<br>
            {{/ phoneno}}
            {{# emailid}}
              <i class="fa fa-envelope"></i> {{email}} : <a class="mail-link" href="mailto:{{emailid}}">{{emailid}}</a><br>
            {{/ emailid}}
            </p>

          </div>
         {{# url}}
          <div class="social-media">
            <h6>{{s_followus}}</h6>
            <ul>
             {{# fburl}}
                <li class="smedia-01"><a href="{{fburl}}"><i class="fa fa-facebook-square"></i></a></li>
            {{/ fburl}}
            {{# pinurl}}
               <li class="smedia-02"><a href="{{pinurl}}"><i class="fa fa-pinterest-square"></i></a></li>
            {{/ pinurl}}
            {{# twurl}}
                <li class="smedia-03"><a href="{{twurl}}"><i class="fa fa-twitter-square"></i></a></li>
            {{/ twurl}}
            {{# gpurl}}
                <li class="smedia-04"><a href="{{gpurl}}"><i class="fa fa-google-plus-square"></i></a></li>
            {{/ gpurl}}
            </ul>
          </div>
        {{/ url}}
        </div>
        {{/block3}}
      </div>
    </div>
  </div>

    {{# copyright_footer}}
    <div class="footer-bootom">
        <p>{{{copyright_footer}}}</p>
    </div>
    {{/ copyright_footer}}

    <nav class="nav navbar-nav d-md-none">
        {{# output.custom_menu_flat }}
            <ul class="list-unstyled pt-3">
                {{> theme_boost/custom_menu_footer }}
            </ul>
        {{/ output.custom_menu_flat }}
    </nav>
  </div>
{{/footerblock}}

  </footer>
<!--E.O.Footer-->

<footer>
{{{output.standard_footer_html}}}
</footer>
{{{output.standard_end_of_body_html}}}
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
