h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #f60;
}
.moodle-actionmenu[data-enhanced].show .menu a:hover,
.moodle-actionmenu[data-enhanced].show .menu a:focus {
    color: #111;
    background: #dedede;
    border-radius: 0;
    text-decoration: none;
    outline: 0;
}
body {
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #656565;
    padding-top: 0;
    background: #fff;
}
.container {
    max-width: 1270px;
}
a {
    color: #f60;
}
a:hover,
a:active,
a:focus {
    color: #f60;
    outline: none;
}
a:first-of-type > .icon {
    margin-left: 0;
}
a span:first-of-type > .icon {
    margin-left: 0;
}
li.nav-item {
    list-style: none;
}
.dropdown-menu {
    padding: 0;
    border-color: #e8e3e3;
    border-radius: 0;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #111;
    background: #dedede;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #111;
    background: #dedede;
}
.btn {
    height: 40px;
    outline: none;
    line-height: 1.5;
}
.btn.btn-link {
    color: #1baf49;
    height: auto;
}
.btn.btn-link i:before {
    color: #1baf49;
}
.btn[role="button"] {
    height: auto;
}
.btn.btn-secondary:disabled:hover,
.btn.btn-secondary:disabled:focus {
    color: #5c5c5c;
    background-color: #ccc;
}
.btn-group .btn {
    height: auto;
    padding: 8px;
}
*:focus {
    outline: none;
}
.btn:focus {
    outline: none;
}
a:focus {
    outline: none;
}
i.icon {
    font-size: 16px;
    color: #1baf49;
}
#header {
    border-bottom: 1px solid #e8e3e3;
    background: #1baf49 !important;
}
#header .popover-region {
    margin-top: 5px;
}
#header .popover-region i.icon:before {
    color: #fff;
}
#header .right-menu .usermenu {
    float: right;
}
#header .navbar-light .navbar-nav .nav-item + .nav-item {
    margin-right: 0;
}
#header .nav.navbar-nav .search-input-wrapper {
    padding: 0;
}
#header .nav.navbar-nav .search-input-wrapper > div i.icon {
    color: #fff;
    margin-top: 8px;
}
#header .nav.navbar-nav .search-input-wrapper > form {
    margin-bottom: 0;
}
#header .nav.navbar-nav li.nav-item {
    float: left;
}
#header .nav.navbar-nav .userbutton {
    margin: 0;
}
#header .nav.navbar-nav .userbutton .avatars {
    margin: 0;
}
#header .nav.navbar-nav .userbutton .avatars .avatar {
    margin: 0;
}
#header .nav.navbar-nav .userbutton .avatars .avatar img.userpicture {
    margin: 0;
}
#header .nav.navbar-nav span {
    color: #fff;
    display: inline-block;
}
#header .nav.navbar-nav span:not(:last-child){
    margin-right: 25px;
}
#header .nav.navbar-nav span i {
    margin-right: 5px;
}
#header .nav.navbar-nav span a {
    color: #fff;
    display: inline-block;
}
#header .address-head {
    margin-top: 5px;
}
#header .address-head.empty-address {
    display: none;
}
#header .navbar-nav button.btn {
    width: 50px;
    height: 30px;
    padding: 0;
    background: none;
    border: 0;
    outline: none;
}
#header .navbar-nav button.btn:hover {
    background: none;
}
#header .navbar-nav button.btn:focus {
    box-shadow: none;
}
#header .navbar-nav button.btn:focus:active {
    box-shadow: none;
    background: none !important;
}
#header .navbar-nav button.btn i {
    display: none;
}
#header .navbar-nav button.btn span:nth-child(2) {
    display: none;
}
#header .navbar-nav button.btn span:nth-child(3) {
    margin-top: 0;
}
#header .navbar-nav button.btn > span {
    width: 27px;
    height: 3px;
    background: #fff;
    display: block;
    margin: 5px auto 0;
}
#header .navbar-nav button.btn > span:first-child {
    margin-top: 0;
    top: 13px;
    transition: all 0.5s ease 0s;
}
#header .navbar-nav button.btn > span:last-child {
    transition: all 0.5s ease 0s;
}
#header .navbar-nav button.is-active {
    position: relative;
}
#header .navbar-nav button.is-active > span {
    position: absolute;
    top: 8px;
    left: 6px;
    transform: rotate(45deg);
    transition: all 0.5s ease 0s;
}
#header .navbar-nav button.is-active > span:last-child {
    transform: rotate(-45deg);
    transition: all 0.5s ease 0s;
}
#header .navbar-nav button.is-active > span:nth-child(3) {
    top: 13px;
}
#header .navbar-nav .nav-link {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}
#header .usermenu .login {
    color: #fff;
}
#header .usermenu .login a {
    color: #fff;
}
#header .usermenu a.dropdown-toggle {
    color: #fff;
}
#header .usermenu .dropdown .dropdown-menu {
    top: auto;
}
#header .usermenu .dropdown .dropdown-menu a i {
    margin-right: 5px;
}
#header .usermenu .dropdown .dropdown-menu a:hover {
    background: #dedede;
}
#header .usermenu .moodle-actionmenu .toggle-display .userbutton .usertext {
    font-size: 16px;
    color: #fff;
}
#header .usermenu .moodle-actionmenu .toggle-display .userbutton .avatars {
    width: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 18px;
}
#header .usermenu .moodle-actionmenu .toggle-display .userbutton .avatars .avatar {
    border-radius: 18px;
}
#header .usermenu .moodle-actionmenu .toggle-display .userbutton .avatars img {
    border-radius: 18px;
}
#header .header-top {
    background: #1baf49;
}
#header .header-top .navbar {
    margin-bottom: 0;
}
#header .header-top .navbar .btn-navbar {
    background: none;
    padding: 10px;
    border: 0;
    box-shadow: none;
    margin-bottom: 4px;
}
#header .header-top .navbar .btn-navbar .icon-bar {
    width: 30px;
    height: 4px;
    border-radius: 0;
    box-shadow: none;
}
#header .header-top .navbar .brand {
    display: none;
}
#header .header-top .navbar .nav .dropdown-menu::before {
    border: 0;
}
#header .header-top .navbar .nav .dropdown-menu::after {
    border: 0;
}
#header .header-top .navbar .nav .dropdown-menu {
    background: #689f59;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}
#header .header-top .navbar .nav .dropdown-menu li {
    background: none;
    padding: 0;
}
#header .header-top .navbar .nav .dropdown-menu > li > a {
    font-size: 16px;
    color: #fff;
    line-height: 34px;
    padding: 0 30px 0 20px;
}
#header .header-top .navbar .nav .dropdown-menu > li > a:hover,
#header .header-top .navbar .nav .dropdown-menu > li > a:focus {
    background: #1baf49;
}
#header .header-top .navbar .nav .dropdown-submenu > a::after {
    border-top-color: #fff;
    margin-top: 15px;
}
#header .header-top .navbar .nav .dropdown-submenu:hover > a,
#header .header-top .navbar .nav .dropdown-submenu:focus > a {
    background: #1baf49;
}
#header .header-top .navbar .nav .dropdown-submenu > a:after {
    border-color: transparent #fff;
}
#header .header-top .navbar .nav li.dropdown.open > .dropdown-toggle {
    background: #689f59;
}
#header .header-top .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: #689f59;
}
#header .header-top .navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
    margin-left: 4px;
    vertical-align: middle;
    margin-top: 0;
}
#header .header-top .navbar .nav li.dropdown.active > .dropdown-toggle {
    background: #689f59;
}
#header .header-top .navbar .nav > li > a {
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-shadow: none;
}
#header .header-top .navbar .nav > li > a:hover,
#header .header-top .navbar .nav > li > a:focus {
    background: #689f59;
}
#header .header-top .navbar .nav > .active > a,
#header .header-top .navbar .nav > .active > a:hover,
#header .header-top .navbar .nav > .active > a:focus {
    background: none;
    box-shadow: none;
}
#header .header-top .navbar .nav-collapse.active {
    border-top-color: #689f59;
}
#header .header-top .navbar-inner {
    min-height: 10px;
    background: none;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
#header nav.nav a.nav-link {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
#header nav.nav a.nav-link:hover,
#header nav.nav a.nav-link:focus {
    background: #689f59;
}
#header nav.nav .nav-item {
    margin-left: 0;
}
#header .nav .dropdown .dropdown-menu a.dropdown-item {
    background: none;
    border-bottom: 1px solid #e2e2e2;
    padding-top: 8px;
    padding-bottom: 8px;
}
#header .nav .dropdown .dropdown-menu a.dropdown-item:hover,
#header .nav .dropdown .dropdown-menu a.dropdown-item:focus {
    color: #fff;
    background: #dedede;
}
#header .nav .dropdown .dropdown-menu a.dropdown-item span {
    color: #656565;
}
#header .nav .dropdown .dropdown-menu a.dropdown-item:last-child {
    border-bottom: 0;
}
#header .nav .dropdown .dropdown-menu .dropdown-divider {
    margin: 0;
    border: 0;
}
.dir-rtl .header-main .infoarea span + span {
    margin-right: 7px;
}
.dir-rtl .header-main .infoarea span i {
    margin-left: 5px;
}
.dir-rtl .header-main .row-fluid [class*="span"] {
    *margin-right: 2.0744680851%;
}
.dir-rtl .header-main .navbar-toggleable-md .infoarea .dropdown .dropdown-menu {
    left: 0;
    right: auto;
}
.dir-rtl .header-main .navbar-toggleable-md .infoarea .dropdown .dropdown-menu a.nav-item.nav-link {
    padding-left: 20px;
    padding-right: 40px;
}
.dir-rtl .carousel-control.left:before {
    content: '\f105';
    font-family: 'fontawesome';
    font-size: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 0;
}
.dir-rtl .carousel-control.right:after {
    content: '\f104';
    font-family: 'fontawesome';
    font-size: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 0;
}
.dir-rtl .carousel-indicators {
    margin-left: 0;
    margin-right: -30%;
    left: auto;
    right: 50%;
}
.dir-rtl .form-buttons {
    background: none;
    border-top: 0;
}
.dir-rtl #fitem_id_submitbutton {
    background: none;
    border-top: 0;
}
.dir-rtl #fgroup_id_buttonar {
    background: none;
    border-top: 0;
}
.dir-rtl.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch {
    background-position: right 5px;
}
.dir-rtl.jsenabled .block_settings .block_tree .collapsed .tree_item.branch {
    background-position: right 5px;
}
.dir-rtl .course_category_tree .category > .info > .categoryname {
    padding: 13px 28px 13px 18px;
    margin: 0 18px 0 0;
    background-image: url([[pix:theme|theme_t/collapsed_empty_rtl]]);
}
.dir-rtl .course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|theme_t/collapsed_rtl]]);
}
.dir-rtl .course_category_tree.frontpage-category-names .category > .info > .categoryname {
    padding: 14px 20px 14px 6px;
    background-image: url([[pix:theme|svg_grey/t/collapsed_empty_rtl]]);
}
.dir-rtl .course_category_tree.frontpage-category-names .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|svg_grey/t/collapsed_rtl]]);
}
.dir-rtl .mform fieldset.collapsible legend a.fheader {
    padding-right: 22px;
    margin-right: 0;
}
.dir-rtl .mform .fpassword .unmask {
    margin-right: 12px;
}
.dir-rtl .mform .fpassword .unmask label {
    padding: 0 7px 0 0;
}
.dir-rtl .mform .fdescription.required {
    margin: 0;
    text-align: left;
    margin-left: 0;
}
.dir-rtl .mform .fitem .felement {
    margin-left: 0;
}
.dir-rtl .coursebox .info .moreinfo {
    left: 0;
}
.dir-rtl .coursebox .content .teachers {
    float: none;
    width: auto;
    padding: 5px;
    clear: none;
    padding-right: 0;
    margin: 0;
    margin-top: 10px;
}
.dir-rtl .coursebox .content .courseimage {
    float: none;
    width: auto;
    margin: 0;
    clear: none;
    position: absolute;
    top: 10px;
}
.dir-rtl .coursebox .content .coursefile {
    float: none;
    width: auto;
    padding: 5px;
    margin: 0;
    clear: none;
    border: 1px solid #ccc;
    position: absolute;
    top: 20px;
}
.dir-rtl .coursebox > .info > .coursename a {
    padding-right: 30px;
    background-position: right 7px;
}
.dir-rtl .course_category_tree .content .teachers {
    margin-right: 200px;
}
.dir-rtl select[multiple] {
    width: 100%;
    max-width: 220px;
}
.dir-rtl select[size] {
    width: 100%;
    max-width: 220px;
}
.dir-rtl .comment-delete {
    margin: 0.3em 10px;
}
.dir-rtl .form-item .form-setting {
    margin-left: 0;
}
.dir-rtl .form-item .form-description {
    margin-left: 0;
}
.dir-rtl #header .header-top .navbar .nav .dropdown-menu > li > a {
    padding: 0 20px 0 30px;
}
.dir-rtl #header .header-top .navbar .nav .dropdown-submenu > a::after {
    border-left-color: transparent;
    border-right-color: #fff;
}
.dir-rtl #footer .social-media ul li {
    float: right;
}
.dir-rtl #footer .social-media ul li + li {
    margin: 0 12px 0 0;
}
.dir-rtl table#form td.submit {
    background: none;
    border-top: 0;
}
.dir-rtl .path-admin .buttons {
    background: none;
    border-top: 0;
}
.dir-rtl .fp-content-center form + div {
    background: none;
    border-top: 0;
}
.dir-rtl div.backup-section + form {
    background: none;
    border-top: 0;
}
.dir-rtl .block_navigation .block_tree .depth_1 > ul {
    margin-right: 0;
}
.dir-rtl .block_navigation .block_tree .depth_1 > .tree_item.branch {
    padding-right: 0;
}
.dir-rtl .block_navigation .block_tree .tree_item.branch {
    background-position: right 5px;
}
.dir-rtl .block_settings .block_tree .tree_item.branch {
    background-position: right 5px;
}
.dir-rtl .block .calendar-controls .previous {
    text-align: left;
}
.dir-rtl .block .calendar-controls .previous:before {
    content: "\f101";
}
.dir-rtl .block .calendar-controls .next {
    text-align: right;
}
.dir-rtl .block .calendar-controls .next:after {
    content: "\f100";
}
.dir-rtl .courses.frontpage-course-list-all,
.dir-rtl .courses.frontpage-course-list-enrolled {
    padding: 0 30px;
}
.dir-rtl .courses.frontpage-course-list-all > .paging.paging-morelink,
.dir-rtl .courses.frontpage-course-list-enrolled > .paging.paging-morelink {
    text-align: left;
}
.dir-rtl .courses.frontpage-course-list-all > .paging.paging-morelink a:before,
.dir-rtl .courses.frontpage-course-list-enrolled > .paging.paging-morelink a:before {
    font-family: FontAwesome;
    content: "\f100\00a0";
}
.dir-rtl #coursesearch .coursesearchbox label {
    margin-left: 7px;
}
.dir-rtl.path-grade-report-user #graded_users_selector {
    float: none;
}
.dir-rtl .blog_entry .audience {
    text-align: left;
    margin: 5px 0;
}
.dir-rtl .comment-message .picture {
    margin-left: 10px;
    margin-right: 0;
}
.dir-rtl .message .contactselector {
    float: none;
}
.dir-rtl .userprofile dl.list dd {
    margin-left: 0;
}
.dir-rtl .form-horizontal .controls {
    margin-left: 0;
}
.jsenabled .visibleifjs {
    vertical-align: top;
    margin-top: 15px;
}
.jsenabled #header .usermenu .moodle-actionmenu.show {
    background: #689f59;
}
.jsenabled #header .usermenu .moodle-actionmenu > .menubar {
    margin: 0;
}
.jsenabled #header .usermenu .moodle-actionmenu .toggle-display.textmenu {
    margin: 0;
}
.jsenabled #header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret,
.jsenabled #header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret:hover,
.jsenabled #header .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret:active {
    border-top-color: #fff;
}
.jsenabled .usermenu .moodle-actionmenu.show .menu a:hover {
    color: #111;
    background: #dedede;
}
.jsenabled .usermenu .moodle-actionmenu > .menu .filler {
    background-color: #e8e3e3;
}
.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch {
    background-position: 0 5px;
}
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch {
    background-position: 0 5px;
}
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    vertical-align: middle;
    margin-top: 0;
    top: 0;
}
.empty-footer {
    display: none;
}
#footer a {
    color: #f60;
}
#footer .footer-main {
    background: #2d2d2d;
    padding: 30px 0 54px;
}
#footer .footer-main h2 {
    font-weight: bold;
    line-height: 36px;
    margin: 0 0 10px;
}
#footer .footer-main p {
    color: #fff;
    line-height: 22px;
}
#footer .footer-main .infoarea {
    padding: 24px 0 0;
}
#footer .footer-main .infoarea .footer-logo {
    max-width: 120px;
    margin: 0 0 18px;
}
#footer .footer-main .infoarea .footer-logo a {
    display: block;
}
#footer .footer-main .infoarea .footer-logo a img {
    width: 100%;
    height: auto;
}
#footer .footer-main .foot-links {
    padding: 24px 0 0;
}
#footer .footer-main .foot-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-main .foot-links ul li a {
    font-size: 16px;
    color: #fff;
    line-height: 32px;
}
#footer .footer-main .foot-links ul li a:hover {
    color: #1baf49;
    text-decoration: none;
}
#footer .footer-main .contact-info {
    padding: 24px 0 0;
}
#footer .footer-main .contact-info h2 {
    margin-bottom: 18px;
}
#footer .footer-main .contact-info p a {
    color: #1baf49;
}
#footer .social-media {
    padding: 5px 0 0;
}
#footer .social-media h6 {
    font-size: 14px;
    color: #fff;
}
#footer .social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#footer .social-media ul li {
    float: left;
}
#footer .social-media ul li + li {
    margin: 0 0 0 12px;
}
#footer .social-media ul li a {
    font-size: 42px;
    color: #fff;
}
#footer .social-media ul li a:hover,
#footer .social-media ul li a:focus {
    text-decoration: none;
}
#footer .social-media ul .smedia-01 a:hover,
#footer .social-media ul .smedia-01 a:focus {
    color: #5a7ec9;
}
#footer .social-media ul .smedia-02 a:hover,
#footer .social-media ul .smedia-02 a:focus {
    color: #cd2129;
}
#footer .social-media ul .smedia-03 a:hover {
    color: #2caae1;
}
#footer .social-media ul .smedia-04 a:focus,
#footer .social-media ul .smedia-04 a:hover {
    color: #dd4b39;
}
#footer .footer-bootom {
    background: #191919;
    padding: 21px 0;
    text-align: center;
}
#footer .footer-bootom p {
    color: #1baf49;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .navbar-light .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    #header .header-top .navbar .nav > li {
        background: url([[pix:theme|img-nav_divider]]) no-repeat right center;
        padding: 0 2px 0 0;
    }
    #header .header-top .navbar .nav > li > a {
        font-weight: normal;
        padding: 25px 20px;
    }
    #header .header-top .navbar .nav li:last-child {
        background: none;
    }
    #header .header-top .usermenu .login {
        padding: 15px 0;
    }
    .dir-rtl #header .header-top .navbar .nav > li {
        background-position: left center;
        padding: 0 0 0 2px;
    }
    .jsenabled #header .usermenu .moodle-actionmenu .toggle-display.textmenu {
        padding: 15px;
    }
}

@media (min-width: 768px) {
    .dir-rtl #header .usermenu .dropdown .dropdown-menu {
        left: auto;
        right: 0;
    }
    #header .header-top .usermenu .login {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .dir-rtl #header .header-top .usermenu {
        float: right;
    }
    .dir-rtl .moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
        right: 0;
        left: auto;
    }
    #header .nav.navbar-nav {
        display: none;
    }
    #header ul.nav.navbar-nav {
        display: block;
    }
    .navbar .nav-collapse.in .nav .dropdown-submenu.open > a {
        background: #1baf49;
    }
    .navbar .nav-collapse.in .nav .dropdown-menu .dropdown-submenu.open > a {
        background: #1baf49;
    }
    .dir-ltr #header .header-top .usermenu {
        float: left;
    }
    .jsenabled #header .usermenu .moodle-actionmenu .toggle-display.textmenu {
        padding: 5px 15px;
    }
}

@media (max-width: 767px) {
    .dir-rtl #header .header-top .usermenu {
        padding-right: 20px;
    }
    .dir-rtl #header .header-top .navbar .btn-navbar {
        margin-left: 20px;
    }
    .dir-rtl .form-item .form-label {
        float: none;
        text-align: right;
    }
    .dir-rtl .mform .fitem div.fitemtitle {
        float: none;
        text-align: right;
    }
    .header-main .logo {
        text-align: center;
    }
    .header-main .infoarea {
        text-align: center;
    }
    .carousel-control {
        display: none;
    }
    #footer .footer-main {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }
    #footer .footer-main .infoarea .footer-logo {
        margin-right: auto;
        margin-left: auto;
    }
    #footer .footer-main .infoarea .footer-logo img {
        width: 100%;
        height: auto;
    }
    #footer .footer-bootom {
        padding-right: 20px;
        padding-left: 20px;
    }
    #footer .social-media ul {
        width: 180px;
        margin: 0 auto;
    }
    .dir-ltr #header .header-top .usermenu {
        padding-left: 20px;
    }
    .dir-ltr #header .header-top .navbar .btn-navbar {
        margin-right: 20px;
    }
    .carousel-overlay-content .content-wrap {
        padding: 50px 20px;
    }
    .carousel-overlay-content .content-wrap p br {
        display: none;
    }
}
.header-main {
    margin-top: 50px;
    background: #fff;
    border-bottom: 1px solid #e8e3e3;
}
.header-main .navbar-toggler {
    float: right;
    padding: 0;
    border: 0;
}
.header-main .navbar-toggler:before {
    content: '\f0c9';
    font-family: fontawesome;
    font-size: 30px;
    color: #1baf49;
}
.header-main .navbar-toggler:hover,
.header-main .navbar-toggler:focus {
    background: none;
}
.header-main .navbar-toggler.nocontent-navbar {
    display: none;
}
.header-main .navbar {
    max-height: none;
    padding: 0;
    border-bottom: 0;
    box-shadow: none;
}
.header-main .navbar-light .navbar-brand.has-logo {
    max-width: 120px;
    float: left;
    padding: 0;
    margin: 10px 0;
}
.header-main .navbar-light .navbar-brand.has-logo .logo img {
    width: 100%;
    height: auto;
    max-height: none;
}
.header-main .infoarea .nav-item.nav-link {
    padding: 34px 20px;
}
.header-main .infoarea span {
    font-size: 16px;
    color: #828282;
}
.header-main .infoarea span i {
    color: #ff6c00;
}
.header-main .logo a {
    display: inline-block;
}
.header-main .infoarea a.nav-link {
    font-size: 18px;
    padding: 26px 20px;
}
.header-main .infoarea a.nav-link:hover,
.header-main .infoarea a.nav-link:active,
.header-main .infoarea a.nav-link:focus {
    border-bottom: 2px solid #f60;
}
.header-main .infoarea .nav-item a.nav-link {
    font-size: 18px;
    padding: 15px 0;
}
.header-main .infoarea .nav-item a.nav-link:hover,
.header-main .infoarea .nav-item a.nav-link:active,
.header-main .infoarea .nav-item a.nav-link:focus {
    border-bottom: 2px solid #f60;
}
.dir-ltr .mform fieldset.collapsible legend a.fheader {
    padding-left: 22px;
    margin-left: 0;
}
.dir-ltr .mform .fpassword .unmask {
    margin-left: 12px;
}
.dir-ltr .header-main .infoarea span + span {
    margin-left: 7px;
}
.dir-ltr .header-main .infoarea span i {
    margin-right: 5px;
}
.dir-ltr .courses.frontpage-course-list-all > .paging.paging-morelink a:after,
.dir-ltr .courses.frontpage-course-list-enrolled > .paging.paging-morelink a:after {
    font-family: FontAwesome;
    content: "\00a0\f101";
}
.dir-ltr .coursebox .info .moreinfo {
    right: 0;
}
.dir-ltr #coursesearch .coursesearchbox label {
    margin-right: 7px;
}

@media (min-width: 1200px) {
    .dir-rtl .header-main .row-fluid [class*="span"] {
        *margin-right: 2.5109110747%;
    }
    .dir-rtl .course_category_tree .category > .content {
        padding-right: 46px;
    }
    .course_category_tree .category > .content {
        padding-left: 46px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .dir-rtl .header-main .row-fluid [class*="span"] {
        *margin-right: 2.7092394499%;
    }
}

@media (min-width: 992px) {
    .header-main .navbar .collapse:not(.show) {
        display: block;
    }
    .header-main .navbar-toggler {
        display: none;
    }
    .navbar-toggleable-md {
        float: right;
        display: block;
    }
    .navbar-toggleable-md .infoarea .dropdown .dropdown-menu {
        margin-top: 1px;
        top: auto;
        right: 0;
        left: auto;
    }
    .navbar-toggleable-md .infoarea .dropdown .dropdown-menu a.dropdown-item:hover,
    .navbar-toggleable-md .infoarea .dropdown .dropdown-menu a.dropdown-item:focus {
        color: #fff;
        background: #1baf49;
    }
    .header-main .infoarea .nav-item {
        display: inline-block;
    }
    .header-main .infoarea .nav-item a.nav-link {
        padding: 15px 0;
        border-bottom: 2px solid transparent;
    }
}

@media (max-width: 991px) {
    .header-main .has-logo {
        float: none;
        display: inline-block;
    }
    .header-main .navbar-toggleable-md {
        width: 100%;
        float: none;
    }
    .header-main .navbar-toggleable-md:after {
        content: '';
        clear: both;
        display: block;
    }
    .header-main .navbar-toggleable-md a.nav-item.nav-link {
        text-align: left;
        display: block;
        border: 0;
        padding: 10px 20px;
        margin: 0;
    }
    .header-main .navbar-toggleable-md a.nav-item.nav-link:hover,
    .header-main .navbar-toggleable-md a.nav-item.nav-link:focus {
        color: #fff;
        background: #1baf49;
        border: 0;
    }
    .header-main .navbar-toggleable-md .infoarea .nav-item {
        width: 100%;
        display: inline-block;
    }
    .header-main .navbar-toggleable-md .infoarea .dropdown {
        position: static;
    }
    .header-main .navbar-toggleable-md .infoarea .dropdown a.nav-link {
        width: 100%;
        text-align: left;
        display: inline-block;
        border: 0;
        padding: 10px 20px;
        margin: 0;
    }
    .header-main .navbar-toggleable-md .infoarea .dropdown a.nav-link:hover,
    .header-main .navbar-toggleable-md .infoarea .dropdown a.nav-link:focus {
        color: #fff;
        background: #1baf49;
    }
    .header-main .navbar-toggleable-md .infoarea .dropdown .dropdown-menu {
        width: 100%;
        margin: 0;
        position: static;
        border: 0;
    }
    .header-main .navbar-toggleable-md .infoarea .dropdown .dropdown-menu .dropdown-item {
        font-size: 16px;
        border: 0;
        padding: 10px 20px 10px 40px;
    }
    .header-main .navbar-toggleable-md .infoarea .dropdown .dropdown-menu .dropdown-item:hover,
    .header-main .navbar-toggleable-md .infoarea .dropdown .dropdown-menu .dropdown-item:focus {
        color: #fff;
        background: #1baf49;
    }
}

@media (min-width: 768px) {
    .dir-rtl .header-main .infoarea {
        text-align: left;
    }
    .dir-rtl .header-main .row-fluid [class*="span"] {
        float: right;
        margin-left: 0;
    }
    .dir-rtl .header-main .row-fluid [class*="span"]:first-child {
        margin-right: 0;
    }
    .dir-rtl .course_category_tree .coursebox .content .summary {
        padding: 0 200px 0 0;
    }
    .dir-rtl .course_category_tree .coursebox .content .coursecat {
        padding: 0 200px 0 0;
    }
    .dir-rtl .course_category_tree .coursebox .content .teachers {
        padding-left: 0;
    }
    .carousel-overlay-content .content-wrap {
        padding: 110px 75px;
    }
    .theme-slider {
        margin-left: 0;
        margin-right: 0;
    }
    .header-main .infoarea {
        text-align: right;
    }
    .header-main .infoarea span {
        line-height: 43px;
    }
    .carousel-inner .carousel-item {
        min-height: 418px;
    }
    .loginbox.onecolumn {
        width: 75%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    #header .nav.navbar-nav span.usertext {
        display: none;
    }
}

@media (max-width: 574px) {
    select {
        width: auto;
    }
    select.singleselect {
        max-width: 220px;
        width: auto;
    }
    .boxwidthnormal {
        width: auto;
    }
    textarea {
        max-width: 220px;
    }
    form select {
        max-width: 220px;
    }
    form input[type="text"] {
        max-width: 220px;
    }
    form input[type="password"] {
        max-width: 220px;
    }
    form.atto_form input[type="url"] {
        max-width: 220px;
    }
    .filemanager {
        max-width: 360px;
    }
    .filepicker {
        max-width: 360px;
    }
    .file-picker {
        max-width: 360px;
    }
    .editor_atto_wrap {
        max-width: 360px;
    }
    .dir-rtl .form-buttons {
        padding-right: 0;
    }
    .dir-rtl .path-admin .buttons {
        padding-right: 0;
    }
    .dir-rtl .blog_entry .content {
        margin-left: 0;
        margin-right: 23px;
    }
    .header-main .navbar-light .navbar-brand .has-logo {
        max-width: 200px;
        margin-right: 0;
    }
    .header-main .navbar-light .navbar-brand .has-logo img {
        width: 100%;
    }
    .header-main .infoarea span {
        display: block;
        margin-bottom: 10px;
    }
    .header-main .infoarea span + span {
        margin-bottom: 0;
    }
    #region-main > div[role="main"] .pull-left + .no-overflow {
        width: 100%;
        overflow: auto;
    }
    .singlebutton div {
        margin-left: 0;
    }
    .singlebutton div input {
        margin-left: 0;
    }
    .blog_entry .content {
        margin-left: 0;
        margin-right: 23px;
    }
    .page-context-header .page-header-headings h1 {
        font-size: 20px;
    }
    .page-context-header .page-header-image {
        max-width: 80px;
    }
    .page-context-header .page-header-image img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 380px) {
    .header-main .has-logo {
        max-width: 220px;
    }
}

.carousel-indicators {
    width: 60%;
    margin-left: -30%;
    text-align: center;
    top: auto;
    right: auto;
    bottom: -32px;
    left: 50%;
    display: none;
}
.carousel-indicators li {
    float: none;
    width: 12px;
    height: 12px;
    background: #b0b0b0;
    display: inline-block;
    border-radius: 6px;
    cursor: pointer;
}
.carousel-indicators li + li {
    margin-left: 7px;
}
.carousel-indicators .active {
    background: #f60;
}
.carousel-control {
    width: 44px;
    height: 44px;
    text-align: center;
    background: url([[pix:theme|bg-carousel-control]]) repeat 0 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.2);
    opacity: 1;
    top: 50%;
    margin-top: -22px;
    position: absolute;
}
.carousel-control.left:before {
    content: '\f104';
    font-family: 'fontawesome';
    font-size: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 0;
}
.carousel-control.right:after {
    content: '\f105';
    font-family: 'fontawesome';
    font-size: 30px;
    color: #fff;
    display: inline-block;
    margin-top: 0;
}
.carousel-control i {
    font-size: 36px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    vertical-align: middle;
}
.carousel-control:hover,
.carousel-control:focus {
    opacity: 1;
}
#page-footer {
    padding: 0 !important;
}
#page-footer:empty {
    display: none;
}
label {
    padding-top: 0;
}
legend {
    float: left;
    font-size: 16px;
    color: #858585;
    line-height: 20px;
    padding-bottom: 20px;
    border-bottom-color: #d6d6d6;
}
legend + div {
    clear: both;
}
.collapsible-actions {
    padding: 14px 0 18px;
}
.collapsible-actions a {
    font-weight: bold;
    font-size: 12px;
    color: #656565;
    line-height: 24px;
}
.breadcrumb {
    background: none;
    border-radius: 0;
    display: block;
}
.breadcrumb > li {
    color: #828282;
    text-shadow: none;
    display: inline-block;
}
.breadcrumb > li > .divider {
    font-size: 10px;
    color: #1baf49;
}
input {
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #5c5c5c;
}
input.form-submit {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 11px 16px;
    border-radius: 0;
    box-shadow: none;
    background: #f60;
    border: 0;
    text-shadow: none;
}
input.form-submit:hover,
input.form-submit:focus {
    outline: 0;
    color: #fff;
    background: #4f4f4f;
}
input.form-submit:active,
input.form-submit.active {
    color: #fff;
    background: #4f4f4f;
    box-shadow: none;
}
input.form-submit.disabled {
    color: #fff;
    background: #4f4f4f;
}
input#id_submitbutton {
    background: #f60;
    border: 0;
    text-shadow: none;
}
input#id_submitbutton:hover,
input#id_submitbutton:focus,
input#id_submitbutton:active,
input#id_submitbutton.active,
input#id_submitbutton.disabled {
    color: #fff;
    background: #4f4f4f;
}
input#id_submitbutton2 {
    background: #f60;
    border: 0;
    text-shadow: none;
}
input#id_submitbutton2:hover,
input#id_submitbutton2:focus,
input#id_submitbutton2:active,
input#id_submitbutton2.active,
input#id_submitbutton2.disabled,
input.form-submit[disabled],
input#id_submitbutton[disabled],
input#id_submitbutton2[disabled] {
    color: #fff;
    background: #4f4f4f;
}
input.active[type="button"],
input.active[type="submit"],
input.active[type="reset"] {
    box-shadow: none;
}
button {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    background: #1baf49;
    padding: 11px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
button:hover,
button:focus {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
button.active,
button:active {
    box-shadow: none;
}
select {
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    border-radius: 0;
    line-height: 36px;
    border-color: #dedede;
}
select:focus {
    outline: 0;
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
textarea {
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    height: auto;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
textarea:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
textarea[cols] {
    width: auto;
}
input[size] {
    width: auto;
}
input[type="text"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="text"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="password"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="password"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="datetime"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="datetime"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="datetime-local"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="datetime-local"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="date"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="date"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="month"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="month"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="time"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="time"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="week"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="week"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="number"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="number"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="email"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="email"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="url"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="url"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="search"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="search"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="tel"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="tel"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
input[type="color"] {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
input[type="color"]:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
.uneditable-input {
    height: 40px;
    border-radius: 0;
    border-color: #dedede;
    box-shadow: none;
}
.uneditable-input:focus {
    border-color: rgba(136, 183, 123, .5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(205, 255, 191, 1);
}
.btn-primary,
input[type="button"] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
    background: #1baf49;
    padding: 11px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.btn-primary:hover,
input[type="button"]:hover {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
.btn-primary:focus,
input[type="button"]:focus {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
    box-shadow: none;
}
.btn-primary:active,
input[type="button"]:active {
    box-shadow: none;
    background: #4f4f4f;
}
.btn-primary,
input[type="submit"] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
    background: #1baf49;
    padding: 11px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.btn-primary:hover,
input[type="submit"]:hover {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
.btn-primary:focus,
input[type="submit"]:focus {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
    box-shadow: none;
}
.btn-primary:active,
input[type="submit"]:active {
    box-shadow: none;
    background: #4f4f4f;
}
input[type="submit"].btn-link {
    color: #fff;
}
.btn-secondary {
    background-color: transparent;
}
.btn-secondary:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #ccc;
}
.btn-secondary:focus {
    color: #373a3c;
    background-color: #e6e6e6;
    box-shadow: none;
}
.btn-secondary:focus {
    color: #373a3c;
    background-color: #e6e6e6;
    box-shadow: none;
}
.btn-secondary:focus:active {
    background-color: #e6e6e6 !important;
    box-shadow: none !important;
}
input[type="reset"] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
    background: #1baf49;
    padding: 11px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
input[type="reset"]:hover,
input[type="reset"]:focus {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
input[type="reset"]:active {
    box-shadow: none;
}
table#form td.submit {
    background: none;
    border-top: 0;
}
table#form tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table#form tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table.flexible thead tr th {
    color: #fff;
    background: #1baf49;
}
table.flexible thead tr th a {
    color: #fff;
}
table.flexible thead th img {
    background: none repeat scroll 0 0;
}
table.flexible th {
    line-height: 21px;
    padding: 12px;
    border-top: 0;
}
table.flexible td {
    line-height: 21px;
    padding: 12px;
    border-top: 0;
}
table.flexible tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table.flexible tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table.flexible tbody tr:hover > td,
table.flexible tbody tr:hover > th {
    background: #f2f2f2;
}
table.rolecap tr th {
    padding: 4px;
}
table.rolecap tr td {
    padding: 4px;
}
table.rolecap thead tr th {
    color: #fff;
    background: #1baf49;
}
table.rolecap tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table.rolecap tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table#explaincaps tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table#explaincaps tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table#defineroletable tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table#defineroletable tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table.grading-report tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table.grading-report tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table.grading-report tbody tr:hover > td,
table.grading-report tbody tr:hover > th {
    background: #f2f2f2;
}
table#listdirectories tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table#listdirectories tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table.userenrolment tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
table.userenrolment tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
table#modules tbody tr:hover > td,
table#modules tbody tr:hover > th {
    background: #f2f2f2;
}
table#permissions tbody tr:hover > td,
table#permissions tbody tr:hover > th {
    background: #f2f2f2;
}
.form-buttons {
    background: none;
    border-top: 0;
}
#fitem_id_submitbutton {
    background: none;
    border-top: 0;
}
#fgroup_id_buttonar {
    background: none;
    border-top: 0;
}
.block {
    padding-top: 0;
    border-color: #e9e9e9;
    border-radius: 0;
    box-shadow: none;
}
.block .card-body {
    padding: 0;
}
.block .card-body .card-title {
    width: 60%;
    padding: 15px;
    margin-bottom: 0;
    display: inline-block !important;
}
.block .card-body .content {
    padding: 10px 18px;
    margin: 0 !important;
    background: #f9f9f9;
    border-top: 1px solid #e9e9e9;
}
.block .card-body .content .content {
    border: 0;
}
.block .card-body .content .userpicture {
    margin: 0 5px;
}
.block .header {
    margin: 15px;
}
.block .header h2 {
    font-weight: normal;
    font-size: 21px;
    color: #f60;
    padding: 18px;
    text-transform: none;
}
.block .header .block_action {
    padding-top: 18px;
}
.block .calendar-controls {
    padding: 12px 0 24px;
}
.block .calendar-controls .previous {
    font-family: FontAwesome;
    color: #656565;
    text-align: right;
}
.block .calendar-controls .previous:before {
    content: "\f100";
}
.block .calendar-controls .previous .arrow {
    display: inline-block;
    text-indent: -999em;
    text-align: center;
}
.block .calendar-controls .next {
    font-family: FontAwesome;
    color: #656565;
    text-align: left;
}
.block .calendar-controls .next:after {
    content: "\f101";
}
.block .calendar-controls .next .arrow {
    display: inline-block;
    text-indent: -999em;
    text-align: center;
}
.block .calendar-controls .current a {
    font-size: 16px;
    color: #656565;
}
.block .minicalendar th {
    font-weight: normal;
    font-size: 12px;
}
.block .minicalendar th abbr {
    border-bottom: 0;
}
.block .minicalendar td {
    font-size: 12px;
}
.block .minicalendar td a {
    display: block;
}
.block .minicalendar .today a {
    color: #fff;
    background: #1baf49;
}
.block_tree {
    font-size: 16px;
}
.block_tree .tree_item a {
    color: #656565;
}
.block_settings .block_tree .tree_item {
    line-height: 25px;
    margin: 15px 0;
}
.block_settings .block_tree .tree_item.branch {
    background-position: 0 5px;
}
.block_settings .block_tree li.item_with_icon > p img {
    top: 5px;
}
.block_settings .adminsearchform input[type="submit"] {
    margin-left: 0;
}
.block_settings .card-body .card-title {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 979px) {
    .block_calendar_month .content {
        padding-right: 0;
        padding-left: 0;
    }
    .block .minicalendar td {
        padding-right: 0;
        padding-left: 0;
    }
}
#frontpage-course-list {
    background: #fff;
    border: 1px solid #e9e9e9;
}
#frontpage-course-list h2 {
    padding: 9px 18px;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
}
#frontpage-course-list .buttons .singlebutton {
    padding: 18px;
}
#frontpage-course-list .buttons .singlebutton div {
    margin: 0;
}
#frontpage-course-list .buttons .singlebutton input[type="submit"] {
    margin: 0;
}
#frontpage-available-course-list,
#frontpage-course-list {
    padding: 15px 0 20px;
    border: 1px solid #e2e2e2;
    background: #e9e9e9;
}
#frontpage-available-course-list h2,
#frontpage-course-list h2,
#frontpage-category-combo h2 {
    max-width: 1270px;
    padding: 20px;
    margin: 0 auto;
}
.courses.frontpage-course-list-all,
.courses.frontpage-course-list-enrolled {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}
.courses.frontpage-course-list-all .coursebox,
.courses.frontpage-course-list-enrolled .coursebox {
    padding: 20px;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    background: #fff;
    margin: 20px 0;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.courses.frontpage-course-list-all .coursebox.content-block .info,
.courses.frontpage-course-list-enrolled .coursebox.content-block .info {
    padding: 0;
}
.courses.frontpage-course-list-all .coursebox.content-block .content,
.courses.frontpage-course-list-enrolled .coursebox.content-block .content {
    padding: 0;
}
.courses.frontpage-course-list-all .coursebox.content-block .coursecat,
.courses.frontpage-course-list-enrolled .coursebox.content-block .coursecat {
    padding: 0;
}
.courses.frontpage-course-list-all .coursebox.content-block .teachers,
.courses.frontpage-course-list-enrolled .coursebox.content-block .teachers {
    padding: 0;
}
.courses.frontpage-course-list-all .coursebox.content-block .teachers li,
.courses.frontpage-course-list-enrolled .coursebox.content-block .teachers li {
    list-style: none;
}
.courses.frontpage-course-list-all .coursebox.last,
.courses.frontpage-course-list-enrolled .coursebox.last {
    border-bottom: 0;
}
.courses.frontpage-course-list-all .coursebox .info .coursename,
.courses.frontpage-course-list-enrolled .coursebox .info .coursename {
    margin: 0;
    margin-bottom: 10px;
}
.courses.frontpage-course-list-all .coursebox .info .coursename a,
.courses.frontpage-course-list-enrolled .coursebox .info .coursename a {
    color: #689f59;
    background: none;
    padding: 0;
}
.courses.frontpage-course-list-all .coursebox .summary .no-overflow,
.courses.frontpage-course-list-enrolled .coursebox .summary .no-overflow {
    max-height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.courses.frontpage-course-list-all .coursebox .summary .no-overflow p,
.courses.frontpage-course-list-enrolled .coursebox .summary .no-overflow p {
    margin-bottom: 0;
}
.courses.frontpage-course-list-all .coursebox .summary .no-overflow p:empty,
.courses.frontpage-course-list-enrolled .coursebox .summary .no-overflow p:empty {
    display: none;
}
.courses.frontpage-course-list-all .coursebox .summary .no-overflow p img,
.courses.frontpage-course-list-enrolled .coursebox .summary .no-overflow p img {
    display: none;
}
.courses.frontpage-course-list-all .coursebox .content .courseimage,
.courses.frontpage-course-list-enrolled .coursebox .content .courseimage {
    max-width: 200px;
    width: 100%;
    top: 0;
    left: 0;
}
.courses.frontpage-course-list-all .coursebox .content .courseimage img,
.courses.frontpage-course-list-enrolled .coursebox .content .courseimage img {
    max-width: none;
    max-height: 180px;
    min-height: 148px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.courses.frontpage-course-list-all .coursebox .content:empty,
.courses.frontpage-course-list-enrolled .coursebox .content:empty {
    display: none;
}
.courses.frontpage-course-list-all > .paging.paging-morelink,
.courses.frontpage-course-list-enrolled > .paging.paging-morelink {
    padding: 20px 0;
    text-align: right;
    border-top: 1px solid #e2e2e2;
}
.courses .coursebox.even {
    background: #fff;
}
.courses .coursebox.collapsed {
    border-color: #d5d5d5;
    padding: 10px 12px;
    margin-bottom: 9px;
}
#frontpage-category-names {
    max-width: 1270px;
    padding: 0 20px;
    margin: 15px auto 0;
}
#frontpage-category-names h2 {
    background: #fff;
    padding: 9px 18px;
    margin: 0;
}
.course_category_tree.frontpage-category-names {
    padding: 0 20px 20px;
}
.course_category_tree.frontpage-category-names .category.with_children > .info > .categoryname {
    background-image: url([[pix:theme|svg_grey/t/expanded]]);
}
.course_category_tree.frontpage-category-names .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|svg_grey/t/collapsed]]);
}
.course_category_tree.frontpage-category-names .category > .info {
    background: #fff;
    border: 1px solid #e2e2e2;
    margin: 0 0 14px;
}
.course_category_tree.frontpage-category-names .category > .info > .categoryname {
    line-height: 20px;
    background-image: url([[pix:theme|svg_grey/t/collapsed_empty]]);
    background-position: left 16px;
    padding: 14px 6px 14px 20px;
    margin: 0 12px;
}
.course_category_tree.frontpage-category-names .category > .info > .categoryname a {
    font-weight: normal;
    font-size: 18px;
    color: #1baf49;
}
.course_category_tree.frontpage-category-names .collapsible-actions a {
    font-weight: normal;
    font-size: 14px;
}
.course_category_tree .category.with_children > .info > .categoryname {
    background-image: url([[pix:theme|theme_t/expanded]]);
}
.course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:theme|theme_t/collapsed]]);
}
.course_category_tree .category > .info {
    background: #1baf49;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 9px;
}
.course_category_tree .category > .info > .categoryname {
    line-height: 20px;
    background-image: url([[pix:theme|theme_t/collapsed_empty]]);
    padding: 13px 18px 13px 28px;
    margin: 0 0 0 18px;
}
.course_category_tree .category > .info > .categoryname a {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    vertical-align: top;
}
.loginbox {
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
.loginbox.twocolumns {
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}
.loginbox h2 {
    margin: 0;
}
.loginbox .loginform {
    margin: 0;
}
.loginbox .loginform .form-label {
    width: 45%;
    min-height: 42px;
    margin: 0 0 30px;
}
.loginbox .loginform .form-label label {
    font-size: 16px;
    padding-right: 5px;
}
.loginbox .loginform .form-input {
    width: 54%;
    margin: 0 0 30px;
}
.loginbox .loginform .form-input input {
    margin-bottom: 0;
}
.loginbox .rememberpass {
    padding: 0 0 18px;
}
.loginbox .forgetpass {
    padding: 5px 0 20px;
}
.loginbox .forgetpass a {
    text-decoration: underline;
}
.loginbox .forgetpass a:hover {
    text-decoration: none;
}
.loginbox .guestsub {
    padding-top: 0;
    margin-right: 0;
    margin-left: 0;
}
.loginbox .guestsub .guestform input[type="submit"] {
    background: #f60;
}
.loginbox .guestsub .guestform input[type="submit"]:hover,
.loginbox .guestsub .guestform input[type="submit"]:focus {
    background: #4f4f4f;
}
.loginbox .loginpanel .desc {
    margin: 0 0 13px;
}
.loginbox .signuppanel .subcontent ol {
    margin-top: 14px;
}
.loginbox .signuppanel .subcontent ol li {
    line-height: 22px;
}
.loginbox .signuppanel .subcontent ol li a {
    line-height: 22px;
    text-decoration: underline;
}
.loginbox .signuppanel .subcontent ol li a:hover,
.loginbox .signuppanel .subcontent ol li a:focus {
    text-decoration: none;
}

@media (min-width: 575px) {
    .userprofile .userprofilebox .profilepicture {
        float: left;
    }
    .userprofile .userprofilebox .descriptionbox {
        padding: 0 0 0 118px;
    }
    .userprofile dl.list dt,
    .userprofile dl.list dd {
        text-align: left;
    }
    .loginbox .loginform .form-input input {
        width: 75%;
    }
    .dir-rtl .userprofile .userprofilebox .profilepicture {
        float: right;
    }
    .dir-rtl .userprofile .userprofilebox .descriptionbox {
        padding: 0 118px 0 0;
    }
    .dir-rtl .userprofile dl.list dt,
    .dir-rtl .userprofile dl.list dd {
        text-align: right;
    }
}

@media (min-width: 992px) {
    .loginbox.onecolumn {
        width: 50%;
    }
}
.mform .fitem {
    margin-bottom: 24px;
}
.mform label {
    font-size: 16px;
    padding-top: 5px;
}
.mform legend a,
.mform legend a:hover {
    color: #858585;
}
.mform .fcheckbox input {
    vertical-align: bottom;
}
.mform fieldset.collapsible legend a.fheader {
    background-position: 0 2px;
    display: inline-block;
}
.mform .fpassword .unmask label {
    font: 14px Arial, Helvetica, sans-serif;
    padding: 0 0 0 7px;
}
.mform .fdescription.required {
    font: 12px Arial, Helvetica, sans-serif;
    color: #8e8d8d;
    margin: 0;
    text-align: right;
}
.form-item {
    margin-bottom: 24px;
}
.form-item .form-description {
    padding-top: 0;
}
.form-item .form-setting .defaultsnext select {
    max-width: 220px;
    width: 100%;
}
#region-main {
    float: none;
}
#region-main .mform:not(.unresponsive) .fitem .fitemtitle label {
    font-weight: normal;
}
#region-main div[role="main"] .pull-left + .no-overflow {
    overflow: visible;
}
#region-main .singlebutton {
    margin-bottom: 10px;
}
#region-main .singlebutton:last-child {
    margin-bottom: 0;
}
#region-main .singlebutton .btn {
    background-color: #e6e6e6;
}
#region-main .singlebutton.enrolusersbutton .btn {
    background-color: #1baf49;
}
#region-main .singlebutton.enrolusersbutton .btn:hover,
#region-main .singlebutton.enrolusersbutton .btn:focus {
    background-color: #4f4f4f;
}

@media (max-width: 574px) {
    select {
        width: auto;
    }
    .userprofile .userprofilebox .profilepicture {
        float: none;
        width: 106px;
        margin: 0 auto 10px;
    }
    .userprofile dl.list dt {
        text-align: center;
    }
    .userprofile dl.list dd {
        text-align: center;
    }
    .profileeditor > .singlebutton {
        margin-top: 10px;
    }
    #coursesearch .coursesearchbox label {
        padding-top: 0;
        margin-bottom: 7px;
        display: block;
    }
    .dir-rtl .userprofile dl.list dt {
        text-align: center;
    }
    .dir-rtl .userprofile dl.list dd {
        text-align: center;
    }
}
.coursebox {
    padding: 10px 12px;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    margin-top: 9px;
}
.coursebox:last-child {
    border: 0;
}
.coursebox .info {
    margin-bottom: 10px;
    position: relative;
}
.coursebox .info .coursename {
    float: none;
}
.coursebox .info .moreinfo {
    float: none;
    width: 21px;
    position: absolute;
    top: 0;
}
.coursebox .content {
    color: #656565;
    overflow: hidden;
}
.coursebox .content:empty {
    min-height: 40px;
}
.coursebox .content .teachers {
    margin: 0;
    margin-top: 10px;
    float: none;
    width: auto;
    clear: none;
}
.coursebox .content .teachers li {
    font-family: Arial, Helvetica, sans-serif;
}
.coursebox .content .summary {
    float: none;
    width: auto;
    margin: 0;
}
.coursebox .content .courseimage {
    float: none;
    width: auto;
    margin: 0;
    clear: none;
    position: absolute;
}
.coursebox .content .coursefile {
    float: none;
    width: auto;
    padding: 5px;
    margin: 0;
    clear: none;
    border: 1px solid #ccc;
    position: absolute;
    top: 20px;
}
.coursebox .content .coursecat {
    float: none;
    width: auto;
    margin: 0;
}
.coursebox > .info > .coursename {
    margin: 0;
}
.coursebox > .info > .coursename a {
    font-size: 21px;
    line-height: 27px;
    background-position: left 7px;
    padding-left: 30px;
}
.course_category_tree .coursebox.content-block .content {
    min-height: auto;
}
.course_category_tree .coursebox.content-block .summary {
    padding: 10px 0 0 0;
}
.course_category_tree .coursebox.content-block .coursecat {
    padding: 0;
}
.course_category_tree .coursebox.content-block .teachers {
    padding: 0;
}
.course_category_tree .coursebox .content {
    min-height: 140px;
    position: relative;
}
.course_category_tree .coursebox .content .summary {
    padding-top: 10px;
}
.course_category_tree .coursebox .content .summary .no-overflow {
    max-height: 67px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.course_category_tree .coursebox .content .summary img {
    display: none;
}
.course_category_tree .coursebox .content .courseimage {
    height: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    top: 0;
}
.course_category_tree .coursebox .content .courseimage img {
    max-width: 160px;
    max-height: none;
    height: 100%;
}

@media (max-width: 767px) {
    #page-mod-quiz-mod #id_reviewoptionshdr .fitem {
        float: none;
        width: 100%;
    }
}

@media (min-width: 575px) {
    .courses.frontpage-course-list-all .coursebox .info,
    .courses.frontpage-course-list-enrolled .coursebox .info {
        padding-left: 200px;
    }
    .courses.frontpage-course-list-all .coursebox .info .coursename a,
    .courses.frontpage-course-list-enrolled .coursebox .info .coursename a {
        width: 90%;
        height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .courses.frontpage-course-list-all .coursebox .content,
    .courses.frontpage-course-list-enrolled .coursebox .content {
        padding-left: 200px;
    }
    .courses.frontpage-course-list-all .coursebox .content .summary,
    .courses.frontpage-course-list-enrolled .coursebox .content .summary {
        min-height: 67px;
    }
    .courses.frontpage-course-list-all .coursebox .content .coursefile,
    .courses.frontpage-course-list-enrolled .coursebox .content .coursefile {
        left: 0;
    }
    .courses.frontpage-course-list-all .coursebox .content .coursecat,
    .courses.frontpage-course-list-enrolled .coursebox .content .coursecat {
        padding: 0 0 0 125px;
    }
    .dir-rtl .coursebox .content .courseimage {
        right: 0;
        left: auto;
    }
    .dir-rtl .coursebox .content .coursefile {
        right: 0;
        left: auto;
    }
    /*.dir-rtl .coursebox .content .summary {
         padding: 0 200px 0 0;
  }*/
    .dir-rtl .coursebox .content .coursecat {
        padding: 0 110px 0 0;
    }
    .dir-rtl .course_category_tree .coursebox.content-block .teachers {
        margin-right: 0;
    }
    .dir-rtl .course_category_tree .coursebox .content .teachers {
        padding-right: 0;
    }
    .course_category_tree .coursebox.content-block .content .summary {
        padding: 10px 0 0 0;
    }
    .course_category_tree .coursebox.content-block .content .coursecat {
        padding: 0;
    }
    .course_category_tree .coursebox.content-block .content .teachers {
        padding: 0;
    }
    .course_category_tree .coursebox .content .summary {
        padding: 0 0 0 200px;
    }
    .course_category_tree .coursebox .content .coursecat {
        padding: 0 0 0 200px;
    }
    .course_category_tree .coursebox .content .teachers {
        padding-left: 200px;
    }
}

@media (max-width: 574px) {
    .courses.frontpage-course-list-all .coursebox .info,
    .courses.frontpage-course-list-enrolled .coursebox .info {
        padding-top: 140px;
    }
    .courses.frontpage-course-list-all .coursebox .content .courseimage,
    .courses.frontpage-course-list-enrolled .coursebox .content .courseimage {
        max-width: none;
        height: 140px;
    }
    .course_category_tree .coursebox.content-block .content {
        min-height: auto;
        padding-top: 0;
    }
    .course_category_tree .coursebox .content {
        padding: 140px 0 0;
    }
    .course_category_tree .coursebox .content .coursefile {
        left: 50%;
        margin-left: -50px;
    }
    .course_category_tree .coursebox .content .teachers {
        margin-left: 0;
    }
    .course_category_tree .coursebox .content .summary {
        padding-top: 0;
    }
    .dir-rtl .course_category_tree .coursebox .content .summary {
        padding-right: 0;
    }
    .dir-rtl .course_category_tree .coursebox .content .coursefile {
        left: 50%;
        margin-left: -50px;
    }
    .dir-rtl .course_category_tree .coursebox .content .teachers {
        margin-right: 0;
    }
}
.course-content .topics h3 {
    font-size: 21px;
    color: #f60;
}
.course-content .topics .section .activity .activityinstance a {
    font-size: 18px;
    color: #656565;
    line-height: 24px;
}
.course-content .topics .section .activity .activityinstance a img {
    margin-right: 12px;
}
.course-content .topics .section .activity .activityinstance a .instancename {
    vertical-align: top;
}
.course-content .topics .section .activity .availabilityinfo .no-overflow {
    line-height: 22px;
}
.course-content .topics .section .activity .contentafterlink .no-overflow {
    line-height: 22px;
}
.course-content .topics .section .summary .no-overflow {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a87ad;
    line-height: 24px;
    background: #d9edf7;
    padding: 10px 20px;
    border: 1px solid #bce8f1;
    border-radius: 5px;
    margin-bottom: 25px;
}
.course-content .topics .section .summary .no-overflow p {
    color: #3a87ad;
    line-height: 24px;
    margin-bottom: 0;
}
.course-content ul li.section.main {
    border-bottom: 1px solid #d5d5d5;
}
.course-content ul li.section.main .section li.activity {
    padding-bottom: 10px;
}
.generaltable thead tr th {
    color: #fff;
    background: #1baf49;
}
.generaltable thead tr th a {
    color: #fff;
}
.generaltable thead tr th a i:before {
    color: #fff;
}
.generaltable thead tr th a.btn-link i:before {
    color: #fff;
}
.generaltable thead th img {
    background: none repeat scroll 0 0;
}
.generaltable th {
    line-height: 21px;
    padding: 12px;
    border-top: 0;
}
.generaltable td {
    line-height: 21px;
    padding: 12px;
    border-top: 0;
}
.generaltable tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
.generaltable tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
.generaltable tbody tr:hover > td {
    background: #f2f2f2;
}
.generaltable tbody tr:hover > th {
    background: #f2f2f2;
}
.forumheaderlist tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
.forumheaderlist tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
.forumheaderlist tbody tr:hover > td {
    background: #f2f2f2;
}
.forumheaderlist tbody tr:hover > th {
    background: #f2f2f2;
}
.forumheaderlist thead tr th {
    color: #fff;
    background: #1baf49;
}
.forumheaderlist tr th {
    padding: 4px;
}
.message .contactselector {
    float: none;
    width: auto;
    margin: 0 0 20px;
}
.message .contactselector .paging {
    margin: 10px 0 0;
}
.message .contactselector #message_participants {
    margin-top: 10px;
}
.message .contactselector #message_participants tr th {
    padding: 5px;
}
.message .contactselector #message_participants tr td {
    padding: 5px;
}
.message .messagearea {
    float: none;
    width: auto;
    min-height: 50px;
    border: 0;
}
.message .messagearea .messagesend .messagesendbox {
    box-sizing: border-box;
}
select[multiple] {
    width: 100%;
    max-width: 220px;
}
select[size] {
    width: 100%;
    max-width: 220px;
}
.userselector select[size] {
    max-width: none;
}
.commands {
    margin: 10px 0;
}
.mdl-left {
    margin: 10px 0;
}
.comment-ctrl {
    padding-top: 10px;
}
.comment-message {
    padding: 10px;
    background: #fff;
}
.comment-message .picture {
    float: none;
    display: inline-block;
    margin-right: 10px;
}
.comment-message .text {
    padding: 0 15px;
    margin: 10px 0;
}
.comment-message .time {
    display: inline-block;
}
.dir-rtl .comment-message .picture {
    margin-right: 0;
    margin-left: 5px;
}
.comment-area textarea {
    border: 1px solid rgba(205, 255, 191, 1);
    padding: 5px;
}
.comment-delete {
    margin: 0.3em 10px;
}
.blog_entry .audience {
    margin: 5px 0;
}
.blog_entry .content .attachedimages {
    margin-bottom: 15px;
}
.forumpost {
    padding-left: 10px;
    padding-right: 10px;
}
.report-eventlist-data-table {
    overflow: auto;
}

@media (min-width: 768px) and (max-width: 991px) {
    .dir-rtl .form-item .form-label {
        float: none;
    }
    .dir-rtl .form-item .form-label label {
        text-align: right;
    }
    .dir-rtl .form-item .form-setting {
        margin-right: 0;
    }
    .dir-rtl .form-item .form-description {
        margin-right: 0;
    }
    .dir-rtl .mform .fitem .felement {
        margin-right: 0;
    }
    .dir-rtl .mform .fitem div.fitemtitle {
        float: none;
    }
    .dir-rtl .mform .fdescription.required {
        margin-right: 0;
    }
    .dir-rtl .userprofile dl.list dd {
        margin-right: 0;
    }
    .dir-rtl .form-horizontal .controls {
        margin-right: 0;
    }
    .dir-rtl .form-label .form-shortname {
        text-align: right;
    }
}

@media (min-width: 768px) and (max-width: 817px) {
    .form-item .form-label {
        width: 140px;
    }
    .mform .fitem div.fitemtitle {
        width: 140px;
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    .dir-rtl .form-item .form-label {
        text-align: right;
        float: none;
    }
    .dir-rtl .mform .fitem div.fitemtitle {
        text-align: right;
        float: none;
    }
}
.btn-primary:active:hover {
    color: #fff;
    background-color: #4f4f4f;
}
.btn-primary:active:focus {
    color: #fff;
    background-color: #4f4f4f;
}
.btn-primary.active:hover {
    color: #fff;
    background-color: #4f4f4f;
}
.btn-primary.active:focus {
    color: #fff;
    background: #4f4f4f;
}
.btn-primary.active.focus {
    color: #fff;
    background-color: #4f4f4f;
}
.btn-primary.focus:active {
    color: #fff;
    background-color: #4f4f4f;
    box-shadow: none !important;
}
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #4f4f4f;
    border-color: #4f4f4f;
}
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}
.calendar-event-panel {
    background: none;
}
#page {
    margin-top: 0;
}
#page #page-header {
    display: block;
}
#page #page-header .page-header-image img {
    width: auto;
}
#page-site-index #header {
    margin-bottom: 0;
}
.btn-navbar .icon-bar + .icon-bar {
    margin-top: 4px;
}
.moodle-actionmenu[data-enhanced].show .menu {
    padding: 0;
    border-color: #e8e3e3;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}
.carousel-inner .carousel-item {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
}
.carousel-overlay-content {
    min-height: 500px;
}
.carousel-overlay-content .content-wrap h2 {
    font-size: 25px;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    padding: 5px 18px;
    margin: 20px 0 10px;
    display: inline-block;
}
.carousel-overlay-content .content-wrap p {
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    background: rgba(0, 0, 0, .8);
    padding: 18px;
    display: inline-block;
}
#notice .singlebutton + .singlebutton input {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
    background: #1baf49;
    padding: 11px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
#notice .singlebutton + .singlebutton input:hover {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
#notice .singlebutton + .singlebutton input:focus {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
.submit.buttons input[name="cancel"] {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-shadow: none;
    background: #1baf49;
    padding: 11px 16px;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.submit.buttons input[name="cancel"]:hover {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
.submit.buttons input[name="cancel"]:focus {
    color: #fff;
    background: #4f4f4f;
    outline: 0;
}
.path-admin .buttons {
    background: none;
    border-top: 0;
    text-align: right;
    padding-left: 0;
}
.path-admin .buttons input[type="submit"] {
    background: #f60;
    border: 0;
    text-shadow: none;
}
.path-admin .buttons input[type="submit"]:hover {
    color: #fff;
    background: #4f4f4f;
}
.path-admin .buttons input[type="submit"]:focus {
    color: #fff;
    background: #4f4f4f;
}
.path-admin .buttons input[type="submit"]:active {
    color: #fff;
    background: #4f4f4f;
}
.path-admin .buttons input.active[type="submit"] {
    color: #fff;
    background: #4f4f4f;
}
.path-admin .buttons input.disabled[type="submit"] {
    color: #fff;
    background: #4f4f4f;
}
.path-admin .buttons input[type="submit"][disabled] {
    color: #fff;
    background: #4f4f4f;
}
td.submit input {
    background: #f60;
    border: 0;
    text-shadow: none;
}
td.submit input:hover {
    color: #fff;
    background: #4f4f4f;
}
td.submit input:focus {
    color: #fff;
    background: #4f4f4f;
}
td.submit input:active {
    color: #fff;
    background: #4f4f4f;
}
td.submit input.active {
    color: #fff;
    background: #4f4f4f;
}
td.submit input.disabled {
    color: #fff;
    background: #4f4f4f;
}
td.submit input[disabled] {
    color: #fff;
    background: #4f4f4f;
}
.fp-content-center form + div {
    background: none;
    border-top: 0;
}
div.backup-section + form {
    background: none;
    border-top: 0;
}
.block_navigation .block_tree .tree_item {
    line-height: 25px;
    margin: 15px 0;
}
.block_navigation .block_tree .tree_item.branch {
    background-position: 0 5px;
}
.block_navigation .block_tree li.item_with_icon > p img {
    top: 5px;
}
.block_navigation .block_tree li > p.hasicon img {
    top: 5px;
}
.block_navigation .block_tree .type_activity > p.tree_item.active_tree_node img {
    top: 5px;
}
.felement.fstatic {
    padding-top: 0;
}
#page-course-index #region-main .coursebox {
    margin-bottom: 9px;
}
form#coursesearch {
    clear: both;
}
form#coursesearch fieldset.coursesearchbox label {
    color: #4f4f4f;
    padding-top: 7px;
}
form#coursesearch fieldset.coursesearchbox .input-group-btn {
    position: absolute;
    right: 0;
    z-index: 4;
}
form#coursesearch fieldset.coursesearchbox input[type="text"] {
    max-width: 300px;
    padding: 0 10px;
}
form#coursesearch fieldset.coursesearchbox input[type="submit"] {
    width: 40px;
    height: 40px;
    vertical-align: top;
    background: #4f4f4f url([[pix:theme|ic-search]]) no-repeat center center;
    padding: 0;
    margin-right: 10px;
    text-indent: -9999em;
    text-transform: capitalize;
}
#page-message-edit #region-main .mform fieldset {
    margin-bottom: 40px;
}
#page-message-edit #region-main .mform legend {
    margin-bottom: 30px;
}
.userenrolment tr th {
    color: #fff;
    background: #1baf49;
    padding: 4px;
}
.userenrolment tr a {
    color: #fff;
}
.no-overflow > .generaltable {
    margin-bottom: 20px;
}
form#movecourses table tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
form#movecourses table tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
#page-admin-course-index .editcourse tbody > tr:nth-child(2n + 1) > td {
    background: #f7f7f7;
}
#page-admin-course-index .editcourse tbody > tr:nth-child(2n + 1) > th {
    background: #f7f7f7;
}
.user-enroller-panel .uep-search-results .users tbody tr:hover > td {
    background: #f2f2f2;
}
.user-enroller-panel .uep-search-results .users tbody tr:hover > th {
    background: #f2f2f2;
}
.user-enroller-panel .uep-search-results .cohorts tbody tr:hover > td {
    background: #f2f2f2;
}
.user-enroller-panel .uep-search-results .cohorts tbody tr:hover > th {
    background: #f2f2f2;
}
.category_subcategories tbody tr:hover > td {
    background: #f2f2f2;
}
.category_subcategories tbody tr:hover > th {
    background: #f2f2f2;
}
.path-mod-forum .discussion-settings-menu .dropdown .dropdown-toggle {
    color: #f60;
}
.path-mod-forum .discussion-settings-menu .dropdown .dropdown-toggle:focus {
    background: none;
}
.path-mod-forum .discussion-settings-menu .dropdown .dropdown-menu .dropdown-item a.btn {
    color: #1baf49;
}
.path-mod-forum .discussion-settings-menu .dropdown .dropdown-menu .dropdown-item a.btn:hover {
    color: #fff;
    background: #1baf49;
}
.path-mod-forum .discussion-settings-menu .dropdown .dropdown-menu .dropdown-item a.btn:focus {
    color: #fff;
    background: #1baf49;
}
.path-mod-forum .discussion-settings-menu .dropdown .dropdown-menu .dropdown-item a.btn:active {
    color: #fff;
    background: #1baf49;
}
.path-mod-forum .forumheaderlist .discussion .topic {
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion .topic.starter {
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion .discussionsubscription {
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion .picture {
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion .author {
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion .replies {
    vertical-align: middle;
}
.path-mod-forum .forumheaderlist .discussion .lastpost {
    vertical-align: middle;
}
.path-grade-report-singleview div.groupselector {
    text-align: center;
}
.path-grade-report-singleview div.selectitems {
    text-align: center;
}
.path-grade-report-singleview div.reporttable form div.singleview_buttons {
    text-align: center;
}
tr.discussion td .dropdown .dropdown-menu .dropdown-item a.btn {
    color: #1baf49;
}
tr.discussion td .dropdown .dropdown-menu .dropdown-item a.btn:hover {
    color: #fff;
    background: #1baf49;
}
tr.discussion td .dropdown .dropdown-menu .dropdown-item a.btn:focus {
    color: #fff;
    background: #1baf49;
}
tr.discussion td .dropdown .dropdown-menu .dropdown-item a.btn:active {
    color: #fff;
    background: #1baf49;
}
tr.discussion .btn i.icon {
    color: #1baf49;
}
#page-mod-quiz-mod #id_reviewoptionshdr .fitemtitle {
    min-height: 3em;
    height: auto;
}
#page-enrol-users #filterform .fitem {
    margin-bottom: 5px;
}
.groupmanagementtable #buttonscell p.arrow_button input {
    width: 100%;
    margin: 10px auto 0;
}
.userprofile .userprofilebox .descriptionbox .description {
    margin: 0 0 10px;
}
.userprofile .userprofilebox .descriptionbox .description p {
    color: #3e1a1a;
    line-height: 18px;
    margin-bottom: 0;
}
.userprofile .userprofilebox .descriptionbox .list {
    margin: 0;
    overflow: hidden;
}
.userprofile .userprofilebox .descriptionbox .list dt {
    float: none;
    width: auto;
    clear: none;
}
.userprofile .userprofilebox .descriptionbox .list dd {
    margin: 0 0 10px;
    clear: none;
}
.userprofile .userprofilebox .profilepicture a {
    display: block;
}
#page-admin-registration-register .registration_textfield {
    width: auto;
}
.pagelayout-report .no-overflow {
    overflow: auto;
}
.editing .block .header .commands {
    margin: 0;
}
.editing .block .header .commands .menubar .dropdown {
    display: inline-block;
}
.editing .section .activity .mod-indent-outer {
    width: 100%;
    position: relative;
}
.editing .section .activity .editing_move {
    z-index: 1;
}
.comment-link img {
    margin: 0 5px;
}
#page-admin-roles-usersroles p {
    margin: 15px 0;
}
#course-category-listings .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    vertical-align: middle;
    margin-top: 0;
    top: 0;
}
#course-category-listings #category-listing .course-count i.icon {
    margin-left: 5px;
}
.path-grade-report-user #graded_users_selector {
    float: none;
}
.path-grade-report-user .view_users_selector {
    float: none;
}
#page-mod-quiz-edit .add-menu-outer {
    bottom: 0;
}
.open > .btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: #4f4f4f;
}
.open > .btn-primary.dropdown-toggle:focus {
    color: #fff;
    background-color: #4f4f4f;
}
.open > .btn-primary.dropdown-toggle.focus {
    color: #fff;
    background-color: #4f4f4f;
}
.card-text .day .yui3-overlay-content {
    margin: 0;
}
#site-news-forum {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}
#site-news-forum .forumaddnew {
    margin-bottom: 15px;
}
#site-news-forum .forumpost .attachedimages {
    margin-top: 20px;
    max-width: 500px;
}
#site-news-forum .forumpost .attachedimages img {
    width: 100%;
    object-fit: cover;
}
.course_category_tree {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}
.mform .custom-select {
/*.mform .form-inline .custom-select {*/
    height: 40px;
}
@media (max-width: 767px) {
    .mform .form-inline .custom-select {
        max-width: 500px;
        width: 100%;
    }
    .mform .fitem {
        margin-bottom: 10px;
    }
}
#page-mod-quiz-edit .section-heading {
    font-size: 1rem;
}
.card-block .block-controls .dropdown-toggle {
    color: #1baf49;
}
.card-block .block-controls .dropdown-toggle i {
    margin: 0;
}
.initialbar .letter {
    color: #1baf49;
}
.initialbar .letter.active {
    color: #fff;
    background: #1baf49;
    border-color: #1baf49;
}

/*M-32*/
.block-myoverview .tab-content.content-centred .tab-pane .btn-group a.btn {
    color: inherit;
    background: inherit;
}
.block-myoverview .tab-content.content-centred .tab-pane .btn-group a.btn.active {
    color: #fff;
    background: #1baf49;
}
.block-myoverview .tab-content.content-centred .tab-pane .tab-content .tab-pane .list-group .list-group-item a.btn {
    height: auto;
}
.block-myoverview .tab-content.content-centred .tab-pane .tab-content .tab-pane .card .card-block {
    padding: 1.25rem;
}
.card.card-block .action-menu .menubar .dropdown a i.icon {
    margin-right: 5px;
}
.listitem .action-menu .dropdown-toggle i.icon {
    margin-right: 0;
}
.action-menu .dropdown-toggle i.icon {
    margin: 0;
}
.block .calendar_filters ul li a span {
    padding: 0 2px;
    margin-right: 5px;
    margin-left: 0;
    display: inline-block;
}
.block .calendar_filters ul li a span i {
    margin: 0;
}
.block .calendar_filters ul li a span span.eventname {
    margin: 0;
}
.path-calendar .maincalendar .calendartable td {
    vertical-align: middle;
}
nav .popover-region .content-item-container:hover {
    background: #1baf49;
}
nav .popover-region .content-item-container:hover .view-more {
    color: #fff;
}
.messaging-area-container .btn.btn-link {
    color: #1baf49;
}
.messaging-area-container .messaging-area {
    height: 507px;
}
.messaging-area-container .messaging-area .contacts-area {
    height: auto;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab {
    height: auto;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab:hover {
    color: #1baf49;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab:focus {
    color: #1baf49;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab.selected {
    color: #1baf49;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact.selected {
    background-color: #1baf49;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact:hover {
    background: #1baf49;
}
.messaging-area-container .messaging-area .contacts-area .contacts .contact .picture {
    border-color: inherit;
}
.notification-area .control-area .content .content-item-container.selected {
    background-color: #1baf49;
}
.notification-area .control-area .content .content-item-container:hover {
    background: #1baf49;
}

@media (max-width: 574px) {
    .navbar .popover-region .popover-region-container {
        top: 2.9px;
    }
}
.close:hover {
    background: none;
}
.dir-rtl .card.card-block .action-menu .menubar .dropdown a i {
    margin-left: 5px;
    margin-right: 0;
}
.dir-rtl .block .calendar_filters li span + i {
    margin-right: 5px;
    margin-left: 0;
}

@media (max-width: 991px) {
    .header-main .navbar-light .navbar-brand.has-logo {
        float: none;
    }
}

@media (max-width: 575px) {
    .card.card-block .action-menu .menubar .dropdown .dropdown-menu {
        left: 0;
        right: auto;
    }
    .dir-rtl .card.card-block .action-menu .menubar .dropdown .dropdown-menu {
        right: 0;
        left: auto;
    }
    .coursebox > .info > .coursename a {
        font-size: 18px;
    }
}

/**/
.pagelayout-frontpage #page {
    max-width: none;
}
.pagelayout-frontpage #page #page-header {
    display: none;
}
.pagelayout-frontpage #page #region-bs-main-and-pre {
    padding: 0;
}
.pagelayout-frontpage #page #page-content .box {
    max-width: 1270px;
    padding: 0 20px;
    margin: 0 auto;
}
.pagelayout-frontpage #page #page-content .box form {
    border: 1px solid #e9e9e9;
    padding: 20px;
}
.pagelayout-frontpage #page #page-content .box form .coursesearchbox {
    width: 100%;
    text-align: left;
    display: inline-block;
}
.pagelayout-frontpage #page #page-content .box form .coursesearchbox label {
    display: inline-block;
}
.pagelayout-frontpage #page #page-content .box form .coursesearchbox input[type="text"] {
    max-width: none;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}
#page-my-index .has-blocks .card.card-block .block-region .block .card-block .card-text {
    border: 0;
}
.block_myoverview .content-centred .nav.nav-pills .nav-item .nav-link.active {
    background-color: #1baf49;
}
.block_myoverview .paged-content-page-container {
    margin-top: 10px;
}
.has-blocks .card.card-block .block-region .block.block_myoverview {
    border: 0;
}
.has-blocks .card.card-block .block-region .block.block_myoverview .card-text {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.has-blocks .card.card-block .block-region .block .card-block .card-title {
    display: none;
}
.has-blocks .card.card-block .block-region .block .card-block .title .card-title {
    display: block;
}
.has-blocks .card.card-block .block-region .block .card-block .card-text {
    padding: 0;
}
.has-blocks .card.card-block .block-region .block .card-block .block-controls .menubar .dropdown a.dropdown-toggle i.icon {
    margin: 0;
}
.has-blocks .card.card-block .block-region .block .card-block .block-controls .menubar .dropdown .dropdown-menu a.dropdown-item i.icon {
    color: #1baf49;
}
.hidden-print .block-region .block .card-block .block-controls .menubar .dropdown a.dropdown-toggle i.icon {
    margin: 0;
}
.hidden-print .block-region .block .card-block .block-controls .menubar .dropdown .dropdown-menu a.dropdown-item i.icon {
    color: #1baf49;
}
#page-course-management #page #page-content ul.ml li .menubar .dropdown a.dropdown-toggle i.icon {
    margin: 0;
}
#page-course-management #page #page-content ul.ml li .menubar .dropdown .dropdown-menu a.dropdown-item i.icon {
    color: #1baf49;
}
#page #page-header .card .card-block .menubar .dropdown .dropdown-toggle i {
    margin: 0;
}
#page #page-header .card .card-block .menubar .dropdown .dropdown-menu .dropdown-item i {
    color: #1baf49;
}
#page #page-content .has-blocks .card.card-block .course-content .weeks li.section .right .section_action_menu .action-menu .menubar .dropdown .dropdown-menu a.dropdown-item i.icon {
    color: #1baf49;
}
#page #page-content .has-blocks .card.card-block .course-content .weeks li.section .content ul.section li .mod-indent-outer .action-menu .menubar .dropdown .dropdown-menu .dropdown-item i.icon {
    color: #1baf49;
}
#page #page-content .has-blocks .card.card-block .course-content .weeks li.section .content .sectionname .inplaceeditable .quickeditlink i.icon {
    vertical-align: top;
}
#page #page-content .has-blocks .card.card-block .course-content .weeks li.section .content .sectionname .inplaceeditable .quickeditlink i.icon:before {
    font-size: 12px;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab div {
    color: #1baf49;
}
.messaging-area-container .messaging-area .contacts-area .tabs .tab:hover {
    color: #1baf49;
}
.editor_atto_menu .dropdown-menu > li > a {
    display: block;
}
#page-admin-search .nav.nav-tabs {
    border: 0;
}
.userlist .initialbar {
    margin-bottom: 20px;
}
#page-mod-quiz-attempt .submitbtns {
    text-align: right;
}
#page-mod-quiz-attempt .submitbtns .mod_quiz-next-nav {
    float: none;
}
.block-region .block .card-block.course-info-container {
    padding: 1.25rem;
}
.list-group-item.active {
    background: #1baf49;
    border-color: #1baf49;
}
.list-group-item.active span i.icon {
    color: #fff;
}
.initialbar .pagination .page-item.active .page-link {
    color: #fff;
    background-color: #1baf49;
    border-color: #1baf49;
}
.initialbar .pagination .page-item.active .page-link:hover {
    color: #fff;
}
.initialbar .pagination .page-item .page-link {
    color: #1baf49;
}
#page-login-index #header button.btn {
    display: none;
}

@media (max-width: 575px) {
    #page-login-index .card {
        margin-top: 50px;
    }
}
.form-control:focus {
    box-shadow: none;
}
.block .card-body.course-info-container {
    padding: 1.25rem;
}

@media (max-width: 574px) {
    .card-deck .card.courses-view-course-item {
        width: 100%;
        flex-basis: auto;
    }
}
.dropdown-menu .dropdown-item:active {
    background: #f8f9fa;
    color: #f60;
}
.dropdown-menu .dropdown-item.active {
    background: #1baf49;
    color: #fff;
}

/*moodle-3.6*/
#page-wrapper {
    height: auto;
    margin-bottom: 50px;
}
.pagination .page-item .page-link:focus {
    box-shadow: none;
}
.activity-navigation a.btn.btn-link {
    color: #1baf49;
}
.activity-navigation a.btn.btn-link:hover {
    color: #1baf49;
}
.block-myoverview .dropdown-menu .dropdown-item.active {
    background: #1baf49;
}
.block-myoverview .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background: #1baf49;
}
.block-myoverview .dropdown-menu .dropdown-item:hover i.icon {
    color: #fff;
}
.block-myoverview .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background: #1baf49;
}
.block-myoverview .dropdown-menu .dropdown-item:focus i.icon {
    color: #fff;
}
.block-myoverview .dropdown-menu .dropdown-item:active {
    color: #fff;
    background: #1baf49;
}
.block-myoverview .dropdown-menu .dropdown-item:active i.icon {
    color: #fff;
}
#page-my-index .block .block-cards .text-primary {
    color: inherit;
}
.btn.btn-outline-secondary.dropdown-toggle:hover {
    color: #fff;
    background: #1baf49;
}
.btn.btn-outline-secondary.dropdown-toggle:hover i.icon {
    color: #fff;
}
.btn.btn-outline-secondary.dropdown-toggle:focus {
    color: #fff;
    background: #1baf49;
    box-shadow: none;
}
.btn.btn-outline-secondary.dropdown-toggle:focus:active {
    color: #fff;
    box-shadow: none;
}
.btn.btn-outline-secondary.dropdown-toggle:focus:active i.icon {
    color: #fff;
}
.btn.btn-outline-secondary.dropdown-toggle:focus i.icon {
    color: #fff;
}
.btn.btn-outline-secondary.dropdown-toggle:active {
    color: #fff;
    background: #1baf49;
}
.btn.btn-outline-secondary.dropdown-toggle:active i.icon {
    color: #fff;
}
.block-timeline .dropdown-menu .dropdown-item.active {
    background: #1baf49;
}
button.close:hover,
.moodle-dialogue-base button.closebutton:hover {
    background: none;
}
button.close:focus,
.moodle-dialogue-base button.closebutton:focus {
    background: none;
}
#header .usermenu a.dropdown-toggle {
    padding: 0;
    box-shadow: none;
}
.action-menu .dropdown-toggle {
    box-shadow: none;
}
.show > .btn-outline-secondary.dropdown-toggle {
    background: none;
    color: inherit;
}
.block-region .block .card-body .block-myoverview .card-title {
    width: 100%;
    padding: 0;
    background: none;
    border: 0;
    margin-right: 0 !important;
}
.block-region .block .card-body .block-myoverview .card-title a {
    font-size: 16px;
    color: #1baf49;
}
.header-main .message-app .header-container .input-group .input-group-prepend .input-group-text {
    padding-right: 10px !important;
}
.header-main .message-app .header-container .badge {
    background-color: #1baf49 !important;
}
.header-main .message-app .body-container .view-overview-body .section .badge {
    background-color: #1baf49 !important;
}
.header-main .message-app .body-container .view-overview-body .section .btn:focus {
    color: #1baf49;
}
.header-main .message-app .body-container .nav .nav-item a.nav-link.active {
    background: #1baf49;
}
.header-main .message-app .body-container .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
    background-color: #1baf49;
}
.header-main .message-app .body-container .custom-control.custom-radio .custom-control-input:active ~ .custom-control-label:before {
    background-color: rgba(136, 183, 123, .25);
}
.header-main .message-app .body-container .custom-control.custom-radio .custom-control-input:checked:focus ~ .custom-control-label:before {
    background-color: #1baf49;
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(136, 183, 123, .25);
}
.header-main .message-app .body-container .switch input:checked + label:before {
    background-color: #1baf49;
}
.header-main .message-app .body-container .switch input:focus + label:before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(136, 183, 123, .25);
}
.header-main .message-app .body-container .switch input:checked:focus + label:before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(136, 183, 123, .25);
}
.message-app .body-container .nav-pills .nav-link.active {
    background-color: #1baf49;
}
.block-region .block.card .card-body {
    padding: 0 !important;
}
.block-recentlyaccessedcourses .card .card-body.course-info-container {
    padding: 1.25rem !important;
}
#region-main.has-blocks .dashboard-card-deck .dashboard-card .card-body .card-title {
    width: 100%;
    margin-right: 0 !important;
}
#region-main .block-myoverview .dashboard-card-deck .dashboard-card .card-body {
    padding: 10px !important;
}
#region-main .block-myoverview .progress {
    border-radius: 5px;
}
#region-main .block-myoverview .progress .progress-bar {
    background-color: #f60;
}

/*Moodle-3.7*/
.block_recentlyaccessedcourses .paging-bar-container {
    margin-top: 0;
}
.block_recentlyaccessedcourses .paging-bar-container .pagination .page-item .page-link {
    color: #1baf49;
}
#recipientform select,
.langimport select {
    max-width: 100%;
}
.pagelayout-frontpage #page-content .buttons {
    max-height: 1270px;
    margin: 0 auto;
}
.pagelayout-frontpage #page-content .buttons .singlebutton form .btn-secondary {
    margin: 10px;
}
.tool_dataprivacy, .tool_dataprivacy~a{
    display: none;
}